
.table1{
    margin-top: 0;
}
.table2{
    margin-top: 0;
    margin-right: 0;
}
.maybe {
    background: url("../static/blackJack.jpg") no-repeat center center fixed;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img {
    max-width:100%;
    height:auto;
}
