<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet"/>
    <center><h1 class="header">You Lose</h1></center>
</head>
<body>
<div>You want to replay?</div>
<table class="buttons">
    <td><a th:href="@{/}"><button>Yes</button></a></td>
</table>
<img th:src="@{warGame.png}" style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'/>
</body>
</html>